# Supabase Project
EXPO_PUBLIC_SUPABASE_URL="https://djiardsjnztadedwyoig.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqaWFyZHNqbnp0YWRlZHd5b2lnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NjgyODgsImV4cCI6MjA4ODU0NDI4OH0.p2C8B0LCYjl-d3UujOWG1ppTXdQKcpMjJVpMAJdm3NY"
